<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
</head>
<body>
<h3>User: <span th:text="${user}"> User </span></h3>
<table>
    <thead>
    <tr>
        <th>Current tasks:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td>
            Name:
            <span th:text="${task.name}">
                Name
            </span>
            -- Description:
            <span th:text="${task.description}">
                Description
            </span>
        </td>
        <td>
            <a th:href="@{/ui/users/{username}/{taskid}?action=delete(username=${user}, taskid=${task.id})}">
                Delete task
            </a>
        </td>
    </tr>
    </tbody>
</table>
<h4>Options</h4>
<a href="/ui/users">Back to users</a><br>
<a th:href="@{/ui/users/{username}?action=newtask(username=${user})}">New task </a><br>
<a th:href="@{/ui/users/{username}?action=delete(username=${user})}">Delete current user </a>
</body>
</html>